.scroll.up .fa-chevron-up{
    position: fixed;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:#ffff;
    background-color:rgb(202, 100, 96);
    bottom: 40px;
    right: 50px;
    user-select: none;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    transition: all .4s ease-in-out;
}

.fa-chevron-up:hover {
    transform: scale(1.1);
}

.fa-chevron-up:active {
    transform: translateY(-10px);
}

body::-webkit-scrollbar {
    width: 12px;
    background: #7e7a7a;
}

body::-webkit-scrollbar-thumb {
    background: rgb(15, 20, 46);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 25, 58);
}

body::-webkit-scrollbar-track {
    position: none;
    background: rgb(15, 15, 15)
}

.bajar .fa-chevron-down{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:#ffff;
    user-select: none;
    bottom: 40px;
    margin-top: -15px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    transition: all .4s ease-in-out;    
}

.bajar .fa-chevron-down:hover {
    transform: scale(1.1)
}

.bajar .fa-chevron-down:active {
    transform: translateY(10px);
}