* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

html {
    background-color: rgb(22, 20, 30);
}

.arviixzuh {
    margin-top: 80px;
    width: 170px;
    user-select: none;
    height: 170px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .6s ease-in-out;
}

.arviixzuh:hover {
    transform: scale(1.05)
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.788)), url("https://th.bing.com/th/id/R.0a225f114a70effe4bbd0159c619e5a4?rik=khveqThFoVIcXQ&pid=ImgRaw&r=0") no-repeat center center scroll;
    /*https://images.hdqwalls.com/download/firewatch-sun-trees-mountains-birds-lake-evening-x8-2560x1080.jpg*/
    background-size: cover;
    min-height: 100vh;
}

@media screen and (min-width: 1000px) {
    .inicio {
        background-size: 100% 100%;
    }
}

body {
    width: 100%;
    font-family: "Poppins";
    background-color: rgba(0, 0, 0, 0.411);
}

.bio {
    font-size: 16px;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    color: white;
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(240, 221, 137);
}

h2 {
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(240, 221, 137);
}

h3 {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(240, 221, 137);
}

section article {
    padding: 100px;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255)
}

footer {
    text-align: center;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 221, 137);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    list-style-type: none;
}

br {
    user-select: none;
}

@media screen and (max-width: 800px) {
    .header {
        height: 6em;
    }

    h1 {
        font-size: 35px;
    }

    .inicio {
        font-size: 15px;
        margin: 0;
        width: auto;
        padding: 18px;
    }

    .bio {
        width: 80%;
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {
    .bio {
        width: auto;
    }
}
