.socialsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 10px;
  a {
    gap: 10px;
    color: black;
    border: var(--socialCardBorder);
    display: flex;
    padding: 15px;
    user-select: none;
    align-items: center;

    transition: all 400ms ease;
    &:hover {
      border: var(--socialCardBorderHover);
    }
  }

  h4 {
    font-weight: 500;
  }

  img {
    height: 20px;
    width: 20px;
  }

  /* specific class for social icons to allow dark-mode adjustments */
  img.socialIcon {
    filter: none;
    transition: filter 180ms ease, opacity 160ms ease;
  }

  /* Make github SVG white in dark mode */
  .dark & img.socialIcon.github {
    filter: invert(1) brightness(2);
  }
}

@media (max-width: 720px) {
  .socialsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 560px) {
  .socialsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 340px) {
  .socialsContainer {
    grid-template-columns: 1fr;
  }
}
