.contenerdor-redes {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    text-align: left;
}

.redes-1,
.redes-2,
.redes-3,
.redes-4,
.redes-5 {
    max-width: 280px;
    justify-content: space-around;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    padding: 5px;
}

.redes-1 a,
.redes-2 a,
.redes-3 a,
.redes-4 a,
.redes-5 a {
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.redes-1 a:hover,
.redes-2 a:hover,
.redes-3 a:hover,
.redes-4 a:hover,
.redes-5 a:hover {
    transform: translateY(-5px);
}