.scroll .bx-up-arrow-alt {
    position: fixed;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #ffff;
    background-color: var(--scroll-up);
    bottom: 40px;
    right: 50px;
    border: 1px solid white;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
    user-select: none;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    transition: all .4s ease-in-out;
    animation-name: scrollTop;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bx-up-arrow-alt:hover {
    transform: scale(1.1);
}

.bx-up-arrow-alt:active {
    transform: translateY(-10px);
}

body::-webkit-scrollbar {
    width: 5px;
    background: #7e7a7a;
}

body::-webkit-scrollbar-thumb {
    background: var(--scroll-up);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-up-hover)
}

body::-webkit-scrollbar-track {
    position: none;
    background: var(--scroll-bar)
}

@keyframes scrollTop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}