.ligh {
  --line: 2px solid #cbcfd5;
  --texts: #334155;
  --titles: #1c2738;
  --subTitles: #818cf8;
  --iconColor: #818181;
  --background: #ffffff;
  --avatarShadow: 0 14px 18px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  --avatarBorder: 6px solid rgb(255, 255, 255);
  --mailBackground: rgb(240, 240, 240);
  --socialCardBorder: 2px solid #f0f0f0;
  --navBarBackground: rgb(255, 255, 255, 0.637);
  --emailCopiedColor: rgb(79, 131, 79);
  --scrollBackground: rgb(100, 103, 241);
  --resumeButtonColor: rgb(100, 103, 241);
  --projectCardBorder: 2px solid #eeeeee;
  --projectButtonColor: #ffffff;
  --socialCardBorderHover: 2px solid #d4d3d3;
  --scrollBackgroundHover: rgb(123, 125, 255);
  --emailCopiedBackground: rgb(176, 255, 176);
  --projectCardBorderHover: 2px solid #d3d3d3;
  --resumeButtonBackground: rgb(220, 227, 250);
  --projectButtonBackground: rgb(15, 17, 27);
}

.nigth {
  --line: 2px solid #424a57;
  --texts: #cbd5e1;
  --titles: #f1f5f9;
  --subTitles: #ffffff;
  --iconColor: #f1f5f9;
  --background: #121522;
  --avatarShadow: 0;
  --avatarBorder: 6px solid #171e2d;
  --mailBackground: #2a3441;
  --navBarBackground: #1215227a;
  --scrollBackground: #343a42;
  --socialCardBorder: 2px solid #2c3643;
  --emailCopiedColor: rgb(67, 102, 67);
  --resumeButtonColor: rgb(220, 227, 250);
  --projectCardBorder: 2px solid #374151;
  --projectButtonColor: rgb(15, 17, 27);
  --socialCardBorderHover: 2px solid #354150;
  --scrollBackgroundHover: #3f4650;
  --projectCardBorderHover: 2px solid #4d5a6e;
  --emailCopiedBackground: rgb(120, 233, 120);
  --resumeButtonBackground: rgb(100, 103, 241);
  --projectButtonBackground: #ffffff;
}
