.skills-section {
  padding: 20px;
  position: relative;
}

/* CONTENEDOR GENERAL */
.skillsContainer {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

/* CATEGORIA */
.skillsContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.categoryTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.categoryIcon {
  font-size: 1.3rem;
  opacity: 0.8;
}

.skillsContent h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--texts);
}

/* ICON GRID */
.skillsContentIcons {
  display: flex;
  flex-wrap: wrap; // 🔥 permite responsive real
  gap: 12px;
}

/* CHIP */
.skillItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  border-radius: 8px;
  color: var(--texts);
  font-weight: 400;
  border: var(--socialCardBorder);

  transition: all 0.3s ease;
  cursor: default;
  white-space: nowrap;

  &:hover {
    border: var(--socialCardBorderHover);
    transform: translateY(-2px);
  }

  img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    user-select: none;
  }

  span {

    font-weight: 400;
  }
}

/* ============================= */
/* 💻 LARGE SCREENS (>= 1200px) */
/* ============================= */
@media (min-width: 1200px) {
  .skillItem {
    padding: 8px 16px;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 0.9rem;
    }
  }
}

/* ============================= */
/* 💻 TABLET */
/* ============================= */
@media (max-width: 1024px) {
  .skillsContentIcons {
    gap: 10px;
  }

  .skillItem {
    padding: 6px 12px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      font-size: 0.8rem;
    }
  }
}
