.skillsContainer {
  gap: 18px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45px, 45px));
}

.skillItem {
  img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    user-select: none;
  }
}

@media (max-width: 800px) {
  .skillsContainer {
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(18px, 18px));
  }
}
