.changeThemeIcon {
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  svg {
    color: var(--iconColor);
    font-size: 20px;
  }
}

.navbarContainer {
  top: 0;
  height: 80px;
  display: flex;
  z-index: 10;
  padding: 0 20px;
  position: sticky;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(45px);
  background-color: var(--navBarBackground);

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    box-shadow: none;
    border-radius: 100%;
  }
}

.navbarButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navbarProfileContainer {
  gap: 10px;
  display: flex;
  opacity: 0;
  transition: opacity 200ms ease;
  align-items: center;
  h1 {
    font-size: 20px;
  }
}

.changeLang {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.06);
  padding: 6px 10px;
  min-height: 40px;
  min-width: 40px;
  font-weight: 600;
  cursor: pointer;
  color: var(--titles);
}

.light .changeLang { border-color: rgba(0,0,0,0.08); }
.dark .changeLang { border-color: rgba(255,255,255,0.06); color: var(--titles); }
