.changeThemeIcon {
  cursor: pointer;
  svg {
    color: var(--iconColor);
    font-size: 20px;
  }
}

.navbarContainer {
  top: 0;
  height: 80px;
  display: flex;
  z-index: 10;
  padding: 0 20px;
  position: sticky;
  max-width: 700px;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(45px);
  background-color: var(--navBarBackground);

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    box-shadow: var(--avatarShadow);
    border-radius: 100%;
  }
}

.navbarProfileContainer {
  gap: 10px;
  display: flex;
  opacity: 0;
  transition: opacity 200ms ease;
  align-items: center;
  h1 {
    font-size: 20px;
  }
}
